ul.navigation
    li.nav-item
     a(href="#") О Компании	
    li.nav-item
     a(href="#") Продукция
    li.nav-item
     a(href="#") Благотворительность
    li.nav-item
     a(href="#") Пресс-центр
    li.nav-item
     a(href="#") Кулинарный центр
    li.nav-item
     a(href="#") Контакты

input(type="checkbox")#nav-trigger.nav-trigger
label(for="nav-trigger")


