section.slider
    .slickslider

        .slider__picture
            .slider__about
                .slider__about-text Пусть всегда будет вкусно!
            .slider__info
                .slider__title.slider__title-yellow - кулинарный клуб -
                h1.slider__description Создай свой кулинарный шедевр вместе с соусами Камако
                a.button.button--yellow.button--text-uppercase(href="#") Узнать больше

        .slider__picture
            .slider__about
                .slider__about-text Пусть всегда будет вкусно!
            .slider__info
                .slider__title.slider__title-yellow - кулинарный клуб -
                h1.slider__description Создай свой кулинарный шедевр вместе с соусами Камако
                a.button.button--yellow.button--text-uppercase(href="#") Узнать больше


        .slider__picture
            .slider__about
                .slider__about-text Пусть всегда будет вкусно!
            .slider__info
                .slider__title.slider__title-yellow - кулинарный клуб -
                h1.slider__description Создай свой кулинарный шедевр вместе с соусами Камако
                a.button.button--yellow.button--text-uppercase(href="#") Узнать больше

