section.subheader

    .subheader__top    
        .subheader__title
            .subheader__text КАМАКО - ведущий производитель майонезов, соусов и кетчупов в Беларуси на протяжении 20 лет.
                button(type="button").subheader__close-button x

    .container
        .subheader__bottom  
            .logo: img.logo__picture(src="images/logo.png", alt="picture", align="center")
            include nav  
            i.fa.fa-search.nav__search-icon(aria-hidden="true")

        