head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' href="css/main.min.css")
    link(rel='stylesheet' href="slick/slick.css")
    link(rel='stylesheet' href="slick/slick-theme.css")
    title kamako
body
    include sections/burgernav.pug
    .site-wrap
        include sections/subheader.pug
        include sections/slider.pug
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="slick/slick.min.js")
    script(src="js/main.min.js")
    
    