.button {
    font-family: $ff-main-500;
    display: inline-block;
    border-radius: 5px;
    padding:  10px 30px 7px 25px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2;


    &--yellow {
        background-color: #fab330;
        transition: 0.3s;
        
        &:hover {
            background: lighten(#fab330,7%);
        }
    }

    &--text-uppercase {
        text-transform: uppercase;        
    }

}